.form {
    width: calc(100% - 30px);
    max-width: 440px;
    background-color: #fff;
    padding: 32px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    span {
        margin-bottom: 24px;

        &::before {
            content: url('../../assets/logo.svg');
            position: relative;
            top: 6px;
            right: 9px;
            display: inline-block;
        }
    }

    h1 {
        text-align: center;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 1.0px;
        margin-bottom: 24px;
    }
}

.input-fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;

    input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(217, 217, 217, 1);
        border-radius: 8px;
        padding-left: 31px;

        &::placeholder {
            color: rgba(0, 0, 0, 0.25);
            font-size: 16px;
        }
    }
}

.email,
.password {
    position: relative;
}

.email::before,
.password::before {
    position: absolute;
    top: 8px;
    left: 14px;
}

.email::before {
    content: url('../../assets/email.svg');
}

.password::before {
    content: url('../../assets/password.svg');
}

.btn {
    width: 100%;
    height: 40px;
    background-color: rgba(22, 119, 255, 1);
    border-radius: 8px;
    color: #fff;
}

.btn:disabled {
    background-color: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(217, 217, 217, 1);
    color: rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 378px) {
    .form {
        h1 {
            font-size: 22px;
        }
    }
}

@media screen and (max-width: 355px) {
    .form {
        h1 {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 334px) {
    .form {
        h1 {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 312px) {
    .form {
        h1 {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 290px) {
    .form {
        h1 {
            font-size: 14px;
        }
    }
}